tabstrip {
  background-color: #dfdfdf;
  color: #2e3436;
  padding-top: 3px;
  border-bottom: 1px solid #919191;
  padding: 0 6px 0 6px;
}

tab:checked {
  border-bottom: 2px solid @theme_selected_bg_color;
}

tab {
  background: transparent;
  border-bottom: 2px solid transparent;
  transition-duration: 300ms;
  transition-timing-function: ease;
  min-height: 35px;
}

tab > * {
  padding: 0 6px 0 6px;
}
