tabstrip {
  background-color: #dfdfdf;
  padding-top: 3px;
  border-bottom: 1px solid #919191;
  padding: 0 6px 0 6px;
}

tab:checked {
  border-bottom: 2px solid #4a90d9;
  color: #2e3436;
}

tab {
  background: transparent;
  border-bottom: 2px solid transparent;
  transition-duration: 300ms;
  transition-timing-function: ease;
  outline-offset: -6px;
  font-weight: bold;
  min-height: 35px;
  color: #8d9091;
}

tab > * {
  padding: 0 6px 0 6px;
}

dockoverlayedge {
  background-color: @theme_bg_color;
}

dockoverlayedge.left-edge tabstrip {
  padding: 0;
}

dockoverlayedge.left-edge tab:checked {
  border: 2px solid transparent;
  border-right: 2px solid #4a90d9;
}
