
dockedge.left > dockedgechild {
 box-shadow: -1px 0px 1px alpha(@borders, 0.4) inset;
}

dockedge.right > dockedgechild {
 box-shadow: 1px 0px 1px alpha(@borders, 0.4) inset;
}

dockedge.top > dockedgechild {
 box-shadow: 0px -1px 1px alpha(@borders, 0.4) inset;
}

dockedge.bottom > dockedgechild {
 box-shadow: 0px 1px 1px alpha(@borders, 0.4) inset;
}

dockedge > dockedgechild > panel {
  border: 1px solid alpha(@borders, 0.4);
}

dockedge > dockedgechild > panel dockwidget revealer > * {
  padding: 6px;
}

dockedge > dockedgechild > panel dockheader box {
  padding: 3px;
  background-color: #fafafa;
}

dockedge > dockedgechild > panel dockheader.horizontal label {
  margin-left: 2px;
}

dockedge > dockedgechild > panel dockheader.vertical label {
  margin-bottom: 2px;
}

dockedge > dockedgechild > panel dockheader:hover box {
  background-color: #fefefe;
}

dockedge > dockedgechild > panel dockheader box button {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

dockedge > dockedgechild > panel dockheader.horizontal label {
  margin-right: 3px;
}

dockedge > dockedgechild > panel dockheader.vertical label {
  margin-top: 3px;
}

dockedge > dockedgechild > panel dockheader button image {
  color: #bebebe;
}

dockedge > dockedgechild > panel dockheader:hover button image {
  color: #aeaeae;
}

dockedge > dockedgechild > panel dockheader:hover button:hover image {
  color: #2e3436;
}

dockedge.left dockheader box {
 margin-right: 1px;
}

dockedge.right dockheader box {
 margin-left: 1px;
}

dockedge.bottom dockheader box {
 margin-top: 1px;
}

dockedge.top dockheader box {
 margin-bottom: 1px;
}
